.App {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.Header {
    display: flex;
    flex-direction: row;
}

.TabAppBar {
    display: flex;
    flex-direction: row;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    list-style: none;
    padding: 8px;
    margin: 0;
}

.selectTab {
    color: red;
}

.unSelectTab {
    color: black;
}

.Content {

}